version: "3.9"

services:
  flask-app:
    build: .
    container_name: aranet-flask
    environment:
      - MODE=flask
    volumes:
      - ./data:/data
    ports:
      - "5000:5000"
    restart: unless-stopped

  streamlit-app:
    build: .
    container_name: aranet-streamlit
    environment:
      - MODE=streamlit
    volumes:
      - ./data:/data
    ports:
      - "8501:8501"
    restart: unless-stopped